<p>
    <div class="commit_message">{{ commit.message }}</div>
    <b>{{ commit.author }} - {{ commit.commit_time }}</b>
    <br />
    <br />

    Commit: 
    <a href="{% url djangit.views.show_commit repo_name commit.id %}">
        {{ commit.id }}
    </a>
    <br />

    Tree: 
    <a href="{% url djangit.views.show_tree repo_name commit.tree tree %}">
        {{ commit.tree }}
    </a>
    <br />

    Parents: 
    {% for parent in commit.parents %}
        <a href="{% url djangit.views.show_commit repo_name parent %}">
            {{ parent }}<br />
        </a>
    {% endfor %}<br />
</p>
