<div class="commit-info">
    <div class="commit_message">{{ commit.message }}</div>
    <img src="{{author.gravatar}}" width="40" height="40" />
    <b>{{ author.name }}</b>
    <br />
    <span class="dateinfo">
        {{ lastchange|date:"l F d Y" }}<br />
        {{ lastchange|date:"H:i" }}
    </span>
    <br />
    <br />

    Commit: 
    <a href="{% url djangit.views.show_commit repo_name commit.id %}" class="sha">{{ commit.id }}</a><br />

    Tree: 
    <a href="{% url djangit.views.show_tree repo_name commit.tree tree %}" class="sha">{{ commit.tree }}</a><br />

    Parents: 
    {% for parent in commit.parents %}
        <a href="{% url djangit.views.show_commit repo_name parent %}" class="sha">{{ parent }}</a><br />
    {% endfor %}
</div>
