{% extends "djangit/base.html" %}

{% block content %}

    <h2>{{ repo_name }} : {{ identifier }} - Log</h2>
    <hr />

    <div id="git-log">

        {% for comobj in commits %}
            <div class="commitlistdate" name="{{comobj.commitdate|date:"dmY"}}">
                <strong>{{comobj.commitdate|date:"l F d Y"}}</strong>
            </div>
            <div>
                <div>
                    <strong class="commit-time">{{ comobj.commitdate|date:"H:i" }}</strong>
                    <span class="commit-author" title="{{comobj.author.email}}">
                        <img src="{{comobj.author.gravatar}}" width="16" height="16" />
                        {{comobj.author.name}}
                    </span>
                    <strong>committed</strong> <a href="{% url djangit.views.show_commit repo_name comobj.commit.id %}" class="sha">{{ comobj.commit.id }}</a>
                </div>
                <pre class="commit-message">{{comobj.commit.message}}</pre>
            </div>
        {% endfor %}

    </div>

{% endblock %}
