{% extends "djangit/base.html" %}

{% block content %}

{% for repo, commit, lastchange, author in repos %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
    <a href="{% url 'djangit:show_repo' repo 'master' %}">{{ repo }}</a>
    </h3>
  </div>
  <div class="panel-body">
    {% if commit and author and lastchange %}
       Message: {{ commit.message }}<br />
       Author: {{ author.name }}<br />
       <small class="muted">{{ lastchange|timesince }} ago</small>
    {% else %}
    No commits...
    {% endif %}
  </div>
</div>

{% endfor %}

{% endblock %}
