{% extends "djangit/base.html" %}

{% block content %}

        {% for repo, commit, lastchange in repos %}
            <div class="repochooser" title="Go to the repository {{ repo }}" onclick="window.location = '{% url djangit.views.show_repo repo 'master' %}';">
                <div class="repotime" title="{ilastchange}}">Last updated<br />{{ lastchange|timesince}} ago</div>
                <div class="repotitle">{{ repo }}</div>
                <div class="repomsg">{{ commit.message }} - {{ commit.author }}</div>
    
            </div>
        {% endfor %}

{% endblock %}
