{% extends "djangit/base.html" %}

{% block content %}

    <div class="floatwrapper">

        <div id="clonefield">
            Clone this project : <input type="text" value="git clone ssh://git@orn.li:1337/{{ repo_name  }}.git" onclick="this.select()"/>
        </div>

        <div id="project_path">
            <a href="/" title="Go to the overview">Overview</a> : {{ repo_name }} :
        </div>
        <div id="branchpicker">
            &nbsp;
            {{ identifier }}
            <ul>
                {% for ref in refs %}
                    <li>
                        <a href="/{{ repo_name }}/{{ ref }}" title="Switch to branch {{ ref }}">{{ ref }}</a> - 
                        <a href="{% url djangit.views.list_commits repo_name ref %}" title="Show branch commits">
                            commits
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>

    <hr />

    <div class="floatwrapper">

        {% include "djangit/tree.html" %}

    </div>

{% endblock %}
