{% extends "djangit/base.html" %}
{% load markup %}
{% load djangit_tags %}

{% block content %}

    <div class="descriptor">
        <h1>{{ repo.name }}</h1>
        <span>
        {% if repo.description %}
        {{ repo.description }}
        {% else %}
            No description.
        {% endif %}
        </span>
        <div class="activity_display">
            <ul>
                <li><b>111</b> commits</li><li><b>1</b> branch</li><li><b>0</b> releases</li><li><b>2</b> contributers</li>
            </ul>
        </div>
    </div>

    {% djangit_commit_info repo identifier %}

    {% djangit_tree repo identifier path=path %}

{% endblock %}
