{% extends "djangit/base.html" %}
{% load markup %}

{% block content %}

    {% include "djangit/top.html" %}

    {% if markdown %}
        {{ blob|markdown }}
    {% else %}

        <table class="codetable" id="linecount">
            {% for line in blob %}
            <tr>
                <td><a href="#{{forloop.counter}}" id="{{forloop.counter}}">{{forloop.counter}}</a></td>
            </tr>
            {% endfor %}
        </table>

        <pre class="prettyprint"><table class="codetable">{% for line in blob %}<tr><td id="c_{{forloop.counter}}">{{line}}</td>
</tr>{% endfor %}</table></pre>

    {% endif %}

{% endblock %}
