{% extends "djangit/base.html" %}
{% load markup djangit_tags %}

{% block djangit_content %}

    <div class="clearfix">
        <div class="pull-left">
            {% djangit_ref_picker repo identifier %}
        </div>

        <div class="pull-left"">
        {% djangit_breadcrumb repo identifier path=path %}
        </div>
    </div>

    <hr />

    {% if markdown %}
        {{ blob|commonmark|safe }}
    {% else %}
        <pre class="prettyprint">
            <table class="codetable">
                {% for line in blob %}
                    <tr>
                        <td id="c_{{forloop.counter}}">{{line}}</td>
                    </tr>
                {% endfor %}
            </table>
        </pre>
    {% endif %}

{% endblock %}
