<p>Tree: /{{ tree_path }}</p>

{% if trees %} 
    {% for mode, name, location, sha in trees %}
            <div class="tree_element">
                <a href="{% url djangit.views.show_tree repo_name identifier location %}">
                    <img src="/public/images/folder.gif" />
                    {{ name }} - {{ sha }}
                </a>
            </div>
    {% endfor %}
{% endif %}

<br />

{% if blobs %}
        {% for mode, name, location, sha in blobs %}
            <div class="tree_element">
                <a href="{% url djangit.views.show_blob repo_name identifier location %}">
                <img src="/public/images/file.gif" />
                    {{ name }} - {{ sha }}
                </a>
            </div>
        {% endfor %}
{% endif %}
