{% extends "base.html" %}


{% block content %}

    <h3>{{ repo_name }} : {{ ref_name }}</h3>

    Latest commit:
    {% include "djangit/commit_info.html" %}

    <hr />
    Branches:

    <ul>
        {% for ref in refs %}
            <li>
                {{ ref }} - 
                <a href="{% url djangit.views.list_commits repo_name ref %}">
                    commits
                </a>
            </li>
        {% endfor %}
    </ul>
    <hr />
    {% include "djangit/tree.html" %}

{% endblock %}
