<section class="last_commit">
    <div class="last_commit_icon">
        <i class="icon-save"></i>
    </div>
    <div class="last_commit_message">
        {% if commit %}
            {{ commit.message|truncatewords:15 }}
            {% if link_to_tree %}
                <a href="{% url 'djangit:show_tree' repo_name commit.tree '' %}" class="pull-right">
                    Browse code
                </a>
            {% endif %}
        {% else %}
            No commit.
        {% endif %}
    </div>

    {% if commit %}
    <div class="last_commit_user">
        <i class="icon-user"></i> <span class="name">{{ author.name }}</span> commited {{ commit_time|timesince }} ago

        <span class="pull-right">
            {% if include_parents %}
              {% if commit.parents %}
                  {{ commit.parents|length }} {% if commit.parents|length > 1 %}parents{% else %}parent{% endif %}
                  {% for parent in commit.parents %}
                      <a href="{% url 'djangit:show_commit' repo_name parent %}" class="sha">{{ parent|truncatechars:10 }}</a><br />
                  {% endfor %}
              {% endif %}
            {% endif %}

            <a href="{% url 'djangit:show_commit' repo_name commit.id %}" class="sha">{{ commit.id|truncatechars:10 }}</a><br />
        </span>
    </div>
    {% endif %}
</section>
