{% load markup %}

{% if no_tree %}
    No tree.
{% else %}
    <table>
      <tbody>

        {% if trees %}
            {% for mode, name, location, sha in trees %}
                    <tr>
                        <td>
                            <a href="{% url 'djangit:show_tree' repo_name identifier location %}">
                                <i class="icon-folder-close"></i>
                                {{ name }}
                            </a>
            {% endfor %}
        <br />
        {% endif %}

        {% if blobs %}
                {% for mode, name, location, sha in blobs %}
                        <tr>
                            <td>
                                <a href="{% url 'djangit:show_blob' repo_name identifier location %}">
                                    <i class="icon-file"></i>
                                    {{ name }}
                                </a>
                {% endfor %}
        {% endif %}
    </table>

    {% if readme %}
        <hr />
        {{ readme|commonmark }}
    {% endif %}
{% endif %}
